.li{
    list-style-type:disc  ;
   padding: 0.5%;
   margin: 1%;
   margin-left: 5%;
   font-family:'Times New Roman', Times, serif ;
   font-weight:bold;
   font-size: 1.5em;
    
}

.ul{
    display: block;
    text-align: left;
    padding: 1%;
    margin:0.1%;
    font-size: larger;
}
