.project{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, rgb(228, 75, 164), rgb(112, 200, 255));;
    text-decoration: underline;
    
}