body , .background {
  background: linear-gradient(to right, rgb(231, 4, 136), rgb(112, 200, 255));

  font-family:Heading-Font,
}

@font-face {
  font-family: 'Heading-Font';
  font-style: normal;
  font-weight: normal;
  src: local('Heading-Font'), url('Elianto-Regular.ttf') format('truetype');
  }

.headings{
  
  padding: 1%;
  
  text-decoration: underline;
  font-family: Heading-Font;
  margin: 1%;
  display: flex;
  text-align: left;
}

